@using Bazar.View.Tools.Imagens

@model Bazar.Application.Response.ObterAnuncioResponse
@inject GerenciadorImagens _gerirImagem 

<p>
    <a asp-controller="Anuncio" asp-action="CriarAnuncio">Anuncie AQUI!</a>

</p>

<ol>
    @foreach (var anuncio in @Model.anunciosVM)
    {
        <li class="anuncio">
            <div class="wrapper-anuncio">
                <div class="divide-img-descricao">
                    <div class="imagem"><img src="@_gerirImagem.ObterCaminhoImagem(anuncio.ImagemPrincipal)"></div>
                    <div class="descricao">
                        <h1 id="titulo"> <a asp-controller="Anuncio" asp-action="AnuncioView" asp-route-anuncioId="@anuncio.Id">@anuncio.Titulo</a></h1>
                        <p id="preco"> @Html.DisplayFor(modelItem => anuncio.Preco)</p>
                    </div>
                </div>
            </div>
        </li>
    }
</ol>

<partial name="_paginacao" model="Model.Paginacao"/>
