@using Bazar.View.Tools.Imagens

@model Bazar.Application.ViewModel.AnuncioViewModel
@inject GerenciadorImagens _gerirImagem

@{
    var nomeImagensSegundaria = Model.ObterImagens();
    List<string> imagensPath = new();

    foreach (var nome in nomeImagensSegundaria)
    {
        imagensPath.Add(_gerirImagem.ObterCaminhoImagem(nome));
    }
}



<ul class="slider">
    <li>
        <input type="radio" id="slide1" name="slide" checked>
        <label for="slide1"></label>
        <img src="@_gerirImagem.ObterCaminhoImagem(@Model.ImagemPrincipal)" />
    </li>
    @for (int x = 0; x < imagensPath.Count; x++)
    {
        <li>
            <input type="radio" id="slide(@x)" name="slide">
            <label for="slide(@x)"></label>
            <img src="@imagensPath[x]" />
        </li>
        
    }
</ul>

<div class="anuncio-info">
    <h1>@Model.Titulo</h1>
    <p id="preco-view">@Html.DisplayFor(modelItem => @Model.Preco)</p>
    <h2>Descrição:</h2>
    <p>@Model.Descricao</p>
    <p id="cidade_view">Cidade: @Model.Cidade</p>
    <p id="tempouso_view">@Model.TempoUso meses de uso.</p>
</div>


